[user]
    name = Thiago Trannin
    email = did:plc:7h3mbaqg7vpc2cmkz4iprhlz
[init]
    defaultBranch = main
[alias]
    logga  = log --graph --exclude refs/jj/* --all --oneline
    loggav = log --graph --exclude refs/jj/* --all --format=fuller
